@mixin headerBig {
  font-size: 4.8rem;
  line-height: 56px;
  font-weight: 500;
}

@mixin headerMedium {
  font-size: 3.2rem;
  line-height: 40px;
  font-weight: 500;
}
@mixin headerSmall {
  font-size: 2rem;
  line-height: 20px;
  font-weight: 500;
}

@mixin bodyBig {
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 400;
}

@mixin bodySmall {
  font-size: 1.4rem;
  line-height: 22px;
  font-weight: 400;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
