:root {
  --primary-color-ebony: #0f162d;
  --primary-color-heliotrope: #ca59ff;
  --primary-color-cornflower: #6c7cff;
  --primary-color-cyan: #2affff;
  --primary-color-broom: #fff629;
  --secondary-color-white: #ffffff;
  --secondary-color-ebony: #272d42;
  --secondary-color-black: #000000;
}
