@import '/src/global-styles/style.scss';

#home-page {
  @include flex(center, center, row);
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-color-ebony);
}

.container {
  @include flex(center, flex-start, row);
  gap: 109px;
}

.greeting {
  @include flex(center, center, column);
  gap: 16px;
  width: 467px;
  .title {
    overflow-y: hidden;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 31px 24px;
}
.card {
  @include flex(center, center, column);
  width: 268px;
  min-height: 240px;
  gap: 16px;
  background: var(--secondary-color-ebony);
  border-radius: 24px;
  padding: 24px 16px;
  .icon {
    @include flex(center, center, _);
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    img {
      z-index: 4;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.1;
      border-radius: 16px;
    }
  }
  .description {
    opacity: 0.5;
    text-align: center;
  }
}

.iconML {
  &::before {
    background-color: var(--primary-color-heliotrope);
  }
}

.iconCV {
  &::before {
    background-color: var(--primary-color-cornflower);
  }
}
.iconNL {
  &::before {
    background-color: var(--primary-color-cyan);
  }
}

.iconR {
  &::before {
    background-color: var(--primary-color-broom);
  }
}

// media

@media (max-width: 1100px) {
  .greeting {
    .content {
      @include bodyBig;
    }
  }
  .container {
    flex-direction: column;
    gap: 24px;
  }
  .cards {
    gap: 16px 16px;
    width: 100%;
  }
  .card {
    width: 240px;
    min-height: 218px;
    .icon {
      width: 56px;
      height: 56px;
      img {
        width: 27px;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 48px 16px 64px 16px;
  }
  .greeting {
    width: 100%;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%;
    min-height: 196px;
  }
}
