/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import 'styles/normalize.scss';
@import 'styles/root.scss';
@import 'styles/fonts.scss';
@import 'styles/mixins.scss';

* {
  overflow-x: hidden;
}

body {
  font-family: 'Dm Sans', 'Roboto', sans-serif;
  color: var(--secondary-color-white);
}

h1 {
  @include headerBig;
}

h2 {
  @include headerMedium;
}
h3 {
  @include headerSmall;
}
p {
  @include bodyBig;
}

@media (max-width: 1100px) {
  p {
    @include bodySmall;
  }
}

@media (max-width: 500px) {
  h1 {
    @include headerMedium;
  }
}
